<h2>HTTP status code <a href="http://httpstatus.es/{{@key}}" target="_blank">{{@key}}</a></h2>
{{md this.description}}

{{#with this.headers}}
    {{> header_list}}
{{/with}}

{{#unless this.body.empty}}
  <h3>Body</h3>
    {{#each this.body}}
        <p><strong>Type: {{@key}}</strong></p>
      {{#if this.schema}}
          <strong>Schema:</strong>
         {{preOrLink this.schema}}
      {{/if}}
      {{#if this.example}}
          <strong>Example:</strong>
          <pre><code class="json">{{highlight this.example}}</code></pre>
      {{/if}}
    {{/each}}
{{/unless}}