<a class="schema-anchor" name="{{schemaName}}"></a>
<div class="raml-schema panel panel-default">
    <div class="panel-heading">
        <h3 id="{{schemaName}}" class="schema-heading panel-title">
            <span class="header-prefix">Schema</span>
            <span class="schema-name">{{schemaName}}</span>
        </h3>
    </div>

    <div class="panel-body">
        <p class="schema-description">
            <span class="schema-description">{{schemaDescription}}</span>
            <span class="schema-type">{{schemaType}}</span>
        </p>
        <h4 class="schema-properties-heading">Properties</h4>

        <div class="schema-properties">
        {{#each this.properties}}
            <div class="schema-property">
                <div class="property-definition" data-property="{{name}}">
                    <span class="property-name">{{name}}</span>
                    {{#if definition.type}} <span class="property-type">({{definition.type}})</span> {{/if}}
                    {{#if definition.targetType}} <span class="property-target-type"><a href="#{{definition.targetType}}">({{definition.targetType}})</a></span> {{/if}}
                    {{#unless definition.targetType}}
                        {{#if definition.reference}} <span class="property-reference"><a href="#{{definition.reference}}">({{definition.reference}})</a></span> {{/if}}
                    {{/unless}}
                    {{#if definition.required}} <span class="property-required"><span class="required-text">required</span></span> {{/if}}
                </div>
                <div class="property-description">
                    {{md definition.description}}
                </div>
            </div>
        {{/each}}
        </div>
        <div class="schema-source">
            <h4 class="schema-source-heading">Schema Source</h4>
            <pre>
                <code class="json">{{schemaContent}}</code>
            </pre>
        </div>
    </div>
</div>